<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button id="showToast" class="btn btn-primary">Show random toast</button>
    </div>
  </div>
</div>

<div id='pageId'>main</div>
