<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Contact Us: <a class="btn btn-success" href="mailto:hello@email.com">hello@email.com</a></p>
    </div>
  </div>
</div>

