.dj-toast-container {
  display: block;
  bottom: 5px;
  left: 5px;
  position: fixed;
  width: 100%;
  max-width: 350px;
}

.dj-toast {
  display: block;
  height: 45px;
  position: relative;
  line-height: 40px;
  border-radius: 5px;
  border: solid #808080 2px;
  margin-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 400ms;
}

.dj-toast.show {
  opacity: 1;
}

.dj-toast.hide {
  opacity: 0;
}

.dj-toast-text {
  display: inline-block;
  color: white;
  line-height: 19px;
  margin-top: 3px;
  font-size: 13px;
  left: 30px;
  right: 34px;
  position: absolute;
}

.dj-toast-title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dj-toast-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dj-toast-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 13px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

.dj-toast-icon-info {
  @extend .dj-toast-icon;
  background-image: url("../assets/icToastInfo.svg");
  background-size: contain;
}

.dj-toast-icon-success {
  @extend .dj-toast-icon;
  background-image: url("../assets/icToastSuccess.svg");
  background-size: contain;
}

.dj-toast-icon-warning {
  @extend .dj-toast-icon;
  background-image: url("../assets/icToastWarning.svg");
  background-size: contain;
}

.dj-toast-icon-error {
  @extend .dj-toast-icon;
  background-image: url("../assets/icToastError.svg");
  background-size: contain;
}

.dj-toast-icon-close {
  width: 30px;
  height: 30px;
  margin-top: 7px;
  padding-right: 4px;
  background-image: url("../assets/icToastClose.svg");
  background-size: contain;
  cursor: pointer;
  float: right;
}
